.banner{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient( to right, rgb(0, 132, 255), rgba(0,0,0,0.6)), url(../../../images/doctor1.jpg);
    background-size: cover;
}
.banner-info{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 120px;
}
.banner-info h1{
    font-size: 70px;
    line-height: 80px;
}